/* ===== PAGE ===== */
.rm-dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f4f6f9;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* ===== HEADER ===== */
.rm-header {
    background: linear-gradient(145deg, #3795c0, #2687a5); 
  color: #fff;
  padding: 16px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bank-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bank-logo {
  font-size: 28px;
}
.bank-brand h2{
  font-size: 25px;
  margin-top: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.rm-role {
  font-weight: 600;
  font-size: 14px;
  background: rgba(255,255,255,0.2);
  padding: 4px 12px;
  border-radius: 12px;
}

.logout-btn {
  background: #ffffff !important;
  color: #3795c0 !important;
  font-weight: 600;
  border-radius: 8px;
}

/* ===== BODY ===== */
.rm-body {
  flex: 1;
  padding: 30px;
}

.section-title {
  margin-bottom: 24px;
  color: #3795c0;
  font-size: 25px;
}

/* ===== DASHBOARD GRID ===== */
.rm-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
}

.rm-card {
  padding: 28px;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  background: linear-gradient(180deg, #ffffff, #dde1e4);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.45);
}

.rm-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.rm-card h3 {
  margin-bottom: 12px;
  color: #3795c0;
  font-size: 25px;
}

/* ===== FOOTER ===== */
.rm-footer {
  text-align: center;
  padding: 14px;
  font-size: 13px;
    background: linear-gradient(145deg, #3795c0, #2687a5); 
  color: #dce6ef;
}
