.admin-dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* HEADER */
.admin-header {
   background: linear-gradient(145deg, #3795c0, #2687a5);
  color: #fff;
  padding: 16px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bank-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bank-brand h2{
  font-size: 25px;
  margin-top: 15px;
}

.bank-logo {
  font-size: 28px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.admin-role {
  background: rgba(255,255,255,0.2);
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: 600;
}

.logout-btn {
  background: #ffffff !important;
  color: #2687a5 !important;
  font-weight: 600;
}

/* BODY */
.admin-body {
  flex: 1;
  padding: 40px;
}

.title {
  color: #2687a5;
  margin-bottom: 4px;
  /* text-align: ce; */
  font-size: 30px;
}

.subtitle {
  color: #475569;
  margin-bottom: 30px;
  /* text-align: center; */

}

/* CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 28px;
}

.dashboard-card {
  padding: 25px;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
 background: linear-gradient(180deg, #ffffff, #d0d4d6);
  box-shadow: 5px 5px 5px 5px rgba(133, 132, 132, 0.45);

}

.dashboard-card h3 {
  margin-bottom: 12px;
  color:  #2687a5;
  font-size: 25px;
  font-weight: 20px;
}

.dashboard-card p {
  color: #374151;
  font-size: 15px;
}

.dashboard-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18);
}

/* FOOTER */
.admin-footer {
  text-align: center;
  padding: 14px;
  font-size: 13px;
  color: #e5e7eb;
 background: linear-gradient(145deg, #3795c0, #2687a5);
}
