/* PAGE */
.create-user-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* ================= HEADER ================= */
.admin-header {
  background: linear-gradient(145deg, #3795c0, #2687a5);
  color: #fff;
  padding: 16px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bank-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bank-logo {
  font-size: 28px;
}
.bank-brand h2{
  font-size: 25px;
  margin-top: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.admin-role {
  background: rgba(255,255,255,0.2);
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: 600;
}

.logout-btn {
  background: #ffffff !important;
  color: #0f4c81 !important;
  font-weight: 600;
}

/* ================= BODY ================= */
.create-user-body {
  flex: 1;
 background: linear-gradient(145deg, #3795c0, #2687a5);
  padding: 32px;
}

/* BACK BUTTON */
.top-bar {
  max-width: 1100px;
  margin: 0 auto 24px auto;
}

.back-btn {
  font-weight: 600;
    background: #ffffff !important;
  color: #0f4c81 !important;
}

/* FORM */
.create-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-user-card {
  width: 420px;
  padding: 32px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

.create-user-card h2 {
  text-align: center;
  color: #0f4c81;
  margin-bottom: 6px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 24px;
}

.full-width {
  width: 100%;
}

mat-form-field {
  margin-bottom: 14px;
}

.create-btn {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  border-radius: 12px;
}

/* ================= FOOTER ================= */
.admin-footer {
  text-align: center;
  padding: 14px;
  font-size: 13px;
  color: #dce6ef;
  background: linear-gradient(145deg, #3795c0, #2687a5);
}
