.rm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 28px;
   background: linear-gradient(145deg, #3795c0, #2687a5); 
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.bank-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bank-logo {
  font-size: 26px;
}

.bank-brand h2 {
  margin: 0;
  font-size: 25px;
  /* font-weight: 600; */
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.rm-role {
  font-weight: 600;
  font-size: 14px;
  background: rgba(255,255,255,0.2);
  padding: 4px 12px;
  border-radius: 12px;
}

.logout-btn {
  background-color: #ffffff;
  color: #3795c0;
  font-weight: 600;
  border-radius: 6px;
}

.logout-btn:hover {
  background-color: #e3f2fd;
}
