.analyst-dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* BODY */
.admin-body {
  flex: 1;
  padding: 40px;
  background-color: #f4f7fb;
}

.page-title {
  color: #3795c0;
  margin-bottom: 8px;
  font-size: 25px;
}

.subtitle {
  color: #444;
  margin-bottom: 30px;
}

/* CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 28px;
}

.dashboard-card {
  padding: 28px;
  border-radius: 18px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  background: linear-gradient(180deg, #ffffff, #dde1e4);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.45);
}

.dashboard-card h3 {
  margin-bottom: 12px;
  color:  #3795c0;
  font-size: 25px;
}

.dashboard-card p {
  color: #555;
  font-size: 15px;
}

.dashboard-card:hover,
.dashboard-card:focus {
  transform: translateY(-6px);
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.2);
  outline: none;
}
